.indira{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.maratha{
    display: inline-block;
    padding: 10px;
    margin: 10px;

}
.hsr{
    display: inline-block
    padding: 10px;
    margin: 10px;
}
.block{

    padding: 10px;
    margin: 10px;

}
.jp{
    
    padding: 10px;
    margin: 10px;
}
.sarjapur{
    
    padding: 10px;
    margin: 10px;
}